

   <!-- partial -->
   <div class="container-fluid page-body-wrapper">
    <div class="main-panel container">
      <div class="content-wrapper pb-0">
        
        <!-- first row starts here -->
       
        <div class="row master-data">
          <div class="col-sm-3 mb-3">
            <a (click)="priceMarkdown()">
            <div class="color-card bg-primary text-white p-3 mb-3 text-center m-auto">
             <img src="assets/images/markdown-product.png" width="60"> 
              <h4 class="font-weight-semibold mb-0 ">Price Markdown</h4>
            </div>
           </a>
          </div>

          

         <div class="col-sm-3 mb-3">
            <a (click)="phaseOutItems()">
            <div class="color-card bg-danger text-white p-3 mb-3 text-center m-auto">
            <img src="assets/images/phase-out-items.png" width="60">
              <h4 class="font-weight-semibold mb-0 "> Phase out Items </h4>
            </div>
          </a>
          </div>

          <div class="col-sm-3 mb-3">
            <a (click)="newLaunchItem()">
              <div class="color-card bg-warning text-white p-3 mb-3 text-center m-auto">
             <img src="assets/images/new-launch-items.png" width="60">
              <h4 class="font-weight-semibold mb-0 ">New Item Launch Date</h4>
            </div>
          </a>
          </div>

           <!-- <div class="col-sm-3">
            <a (click)="vendorManagedInventory()">
            <div class="color-card bg-success text-white p-3 mb-3 text-center m-auto">
             <img src="assets/images/inventory-management.png" width="60">
              <h4 class="font-weight-semibold mb-0 "> Vendor Managed Inventory </h4>
            </div>
          </a>
          </div> -->

          <div class="col-sm-3 mb-3">
            <a (click)="storeStoreTransfer()">
            <div class="color-card bg-info text-white p-3 mb-3 text-center m-auto">
            <img src="assets/images/store-store-transfer.png" width="60">
              <h4 class="font-weight-semibold mb-0 ">Store – Store Transfer 
              </h4>
            </div>
           </a>
          </div>

          <div class="col-sm-3 mb-3">
            <a (click)="stockRegister()">
            <div class="color-card bg-success text-white p-3 mb-3  text-center m-auto">
              <img src="assets/images/stock-register.png" width="60">
              <h4 class="font-weight-semibold mb-0 "> Stock Register</h4>
            </div>
            </a>
          </div>

          <div class="col-sm-3 mb-3">
            <a (click)="posSale()">
            <div class="color-card bg-secondary text-white p-3 mb-3 text-center m-auto">
              <img src="assets/images/pos-sale.png" width="60">
              <h4 class="font-weight-semibold mb-0 "> POS Sales</h4>
            </div>
          </a>
          </div>

          <div class="col-sm-3 mb-3">
            <a (click)="promotionDetails()">
            <div class="color-card bg-danger text-white p-3 mb-3  text-center m-auto">
              <img src="assets/images/promotional.png" width="60">
              <h4 class="font-weight-semibold mb-0 "> Promotion Details </h4>
            </div>
          </a>
          </div>

          
          
          </div>
      </div>
      <!-- content-wrapper ends -->
     
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->