

   <!-- partial -->
   <div class="container-fluid page-body-wrapper">
    <div class="main-panel container">
      <div class="content-wrapper pb-0">
        
        <!-- first row starts here -->
       
        <div class="row master-data">
          <div class="col-sm-3" >
            <a  (click)="systemConfigClick()"> 
            <div class="color-card bg-primary text-white p-4 mb-4 text-center m-auto">
             <img src="assets/images/reorder-frequency.png" width="70"> 
              <h4 class="font-weight-semibold mb-0 ">System Configurations</h4>
            </div>
           </a>
          </div>

          

          <div class="col-sm-3">
            <a (click)="storeTransferClick()">
            <div class="color-card bg-danger text-white p-4 mb-4 text-center m-auto">
            <img src="assets/images/reorder-store-level.png" width="70">
              <h4 class="font-weight-semibold mb-0 "> Store Transfer</h4>
            </div>
          </a>
          </div>

           <div class="col-sm-3">
            <a (click)="schedulingClick()">
              <div class="color-card bg-warning text-white p-4 mb-4 text-center m-auto">
             <img src="assets/images/distribution-center.png" width="70">
              <h4 class="font-weight-semibold mb-0 ">Scheduling </h4>
            </div>
          </a>
          </div>

         <!-- <div class="col-sm-3">
            <a href="supplier-master.html">
            <div class="color-card bg-success text-white p-4 mb-4 text-center m-auto">
             <img src="assets/images/supplier-master.png" width="70">
              <h4 class="font-weight-semibold mb-0 "> Supplier Master</h4>
            </div>
          </a>
          </div>

          <div class="col-sm-3">
            <a href="store-supplier-master.html">
            <div class="color-card bg-info text-white p-4 mb-4 mb-4 text-center m-auto">
            <img src="assets/images/store-supplier-master.png" width="70">
              <h4 class="font-weight-semibold mb-0 ">Store – Supplier Master 
              </h4>
            </div>
           </a>
          </div> -->

          <!-- <div class="col-sm-3">
            <div class="color-card bg-danger text-white p-4 mb-4 mb-4 text-center m-auto">
             <h1> <i class="mdi mdi-account"></i> </h1>
              <h4 class="font-weight-semibold mb-0 ">Configurations</h4>
            </div>
          </div> -->
          
          </div>
      </div>
      <!-- content-wrapper ends -->
     
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  