

    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
          <nav class="navbar top-navbar col-lg-12 col-12 p-0">
            <div class="container">
              <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html">
                  <img src="assets/images/Bigtap logo_CMYK.png" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
              </div>
              <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                
                <!-- <ul class="navbar-nav mr-lg-2">
                  <li class="nav-item nav-search d-none d-lg-block">
                    <div class="input-group">
                      <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                        <span class="input-group-text" id="search">
                          <i class="mdi mdi-magnify"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" id="navbar-search-input" placeholder="Search" aria-label="search" aria-describedby="search" />
                    </div>
                  </li>
                </ul> -->

                <!-- <ul class="navbar-nav navbar-nav-right">
                  <li class="nav-item nav-profile dropdown">
                    <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="nav-profile-img">
                        <img src="assets/images/faces/face1.jpg" alt="image" />
                      </div>
                      <div class="nav-profile-text">
                        <p class="text-black font-weight-semibold m-0"> Shekar  <i class="mdi mdi-chevron-down"></i></p> 
                        
                      </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                      <a class="dropdown-item" href="#">
                        <i class="mdi mdi-eye me-2 text-success"></i> View Profile </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">
                        <i class="mdi mdi-logout me-2 text-primary"></i> Signout </a>
                    </div>
                  </li>
                </ul> -->
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                  <span class="mdi mdi-menu"></span>
                </button>
              </div>
            </div>
          </nav>

          <nav class="bottom-navbar">
            <div class="container">
              <ul class="nav page-navigation">
                <li class="nav-item">
                  <a class="nav-link" routerLink="process">
                    <i class="mdi mdi-clipboard-text menu-icon"></i>
                    <span class="menu-title">Process</span>
                  </a>
                </li>
  
                <li class="nav-item">
                  <a class="nav-link" routerLink="transaction">
                    <i class="mdi mdi-chart-bar  menu-icon"></i>
                    <span class="menu-title"> Transaction Data  </span>
                  </a>
                </li>
                
  
                <li class="nav-item">
                  <a class="nav-link" routerLink="dashboard">
                    <i class="mdi mdi-compass-outline menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                  </a>
                </li>
                
                <li class="nav-item">
                  <a routerLink="masters" class="nav-link">
                    <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                    <span class="menu-title">Master Data</span>
                    
                  </a>
                  <!-- <div class="submenu">
                    <ul class="submenu-item">
                      <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdown</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                      </li>
                    </ul> 
                  </div>-->
                </li>
                
                
                <li class="nav-item">
                  <a class="nav-link" routerLink="admin">
                    <i class="mdi mdi-contacts menu-icon"></i>
                    <span class="menu-title">Admin </span>
                  </a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" routerLink="configurations">
                    <i class="mdi mdi-table-large menu-icon"></i>
                    <span class="menu-title">Configurations  </span>
                  </a>
                </li>
                <!--<li class="nav-item">
                  <a href="POS-sales.html" class="nav-link" >
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">POS Sale</span></a>
                </li>
                <li class="nav-item">
                  <a href="promotions.html" class="nav-link">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">Promotions </span></a>
                </li> -->
  
              </ul>
            </div>
          </nav>
        </div>
    </div>


        