

<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel container">
      <div class="content-wrapper pb-0">
        
        <!-- first row starts here -->
       
        <div class="row">
          <div class="header-right mt-md-2 mt-lg-0 w-100">
            <div class=" align-items-center d-inline-block">
              <a href="#">
                <p class="m-0 pe-3">Configuration</p>
              </a>
              <a class="ps-3 me-4" href="#">
                <p class="m-0">Monotonic Constraints
                </p>
              </a>
            </div>
            <div class=""  style="display: inline-block;  float: right;">
                  <button type="button" (click)="backButtonClick()" class=" btn btn-sm btn-success btn-icon-text" style="height:30px">
                    <i class="mdi mdi-arrow-left"></i> Back</button>
                </div>
          </div>
        </div>

        <div class="col-lg-12 p-0 grid-margin stretch-card mt-3">
          <div class="card">
            <div class="card-body pb-5">

              <div class="mb-3">
                <h3 class="d-inline-block">Monotonic Constraints  </h3>
                
              </div>

              
              
              <div class="clearfix"></div>


             
             
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                        <th>ID Variables</th>
                        <th>Model Independent  Variables </th>
                        <th>Dependent varaible</th>
                        <th>Monotonic Constraints </th>
                        </tr>
                        <tr>
                          <th> <input type="text" class="form-control form-control-sm" > </th>
                          <th> <input type="text" class="form-control form-control-sm" > </th>
                          <th> <input type="text" class="form-control form-control-sm" > </th>
                          <th> <input type="text" class="form-control form-control-sm" > </th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td> Date </td>
                        <td> Foot fall </td>
                        <td> SALES VOLUME </td>
                        <td> 1</td>
                        
                      </tr>

                      <tr>
                        <td> day of the Week </td>
                        <td> Net Sale Price </td>
                        <td> SALES VOLUME </td>
                        <td> -1</td>
                      </tr>
                      <tr>
                        <td> Week day </td>
                        <td> Max Temperature  </td>
                        <td> SALES VOLUME </td>
                        <td> 1</td>
                      </tr>
                      <tr>
                        <td> Week Number </td>
                        <td> Min Temperature </td>
                        <td> SALES VOLUME </td>
                        <td> 1</td>
                      </tr>
                      <tr>
                        <td> Month </td>
                        <td> Humidity </td>
                        <td> SALES VOLUME </td>
                        <td> 1</td>
                      </tr>
                      <tr>
                        <td> Year </td>
                        <td> Foot fall </td>
                        <td> SALES VOLUME </td>
                        <td> -1</td>
                      </tr>
                      <tr>
                        <td> Holiday </td>
                        <td> RETAIL_PRICES_INDEX </td>
                        <td> SALES VOLUME </td>
                        <td> 0</td>
                      </tr>
                      <tr>
                        <td> Category </td>
                        <td> UNEMP_RATE </td>
                        <td> SALES VOLUME </td>
                        <td> 0</td>
                      </tr>
                      <tr>
                        <td> Sub Category </td>
                        <td> GDP </td>
                        <td> SALES VOLUME </td>
                        <td> 0</td>
                      </tr>
                      <tr>
                        <td> Product </td>
                        <td> Sales_trend </td>
                        <td> SALES VOLUME </td>
                        <td> 0</td>
                      </tr>
                      <tr>
                        <td> Store ID </td>
                        <td> Covid data </td>
                        <td> SALES VOLUME </td>
                        <td> 0</td>
                      </tr>
                      <tr>
                        <td> Store Name </td>
                        <td> Retail_prices_index </td>
                        <td> SALES VOLUME </td>
                        <td> -1</td>
                      </tr>
                      <tr>
                        <td> City </td>
                        <td> Foot fall </td>
                        <td> SALES VOLUME </td>
                        <td> 1</td>
                      </tr>
                      <tr>
                        <td> Latitude </td>
                        <td> personal Disposal Income </td>
                        <td> SALES VOLUME </td>
                        <td> 1</td>
                      </tr>
                      <tr>
                        <td> Longitude </td>
                        <td> Price Elasticity </td>
                        <td> SALES VOLUME </td>
                        <td> 1</td>
                      </tr>
                      <tr>
                        <td> Country name  </td>
                        <td> Lag of Sales Volume </td>
                        <td> SALES VOLUME </td>
                        <td> 0</td>
                      </tr>
                      
                      
                        
                      </tbody>
                    </table>
                
                
               

                
              </div>

                
              </div>
              
            
            </div>
          </div>
        </div>
        
        

    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
