


<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel container">
      <div class="content-wrapper pb-0">
        
        <!-- first row starts here -->
       
        <div class="row">
          <div class="header-right mt-md-2 mt-lg-0 w-100">
            <div class=" align-items-center d-inline-block">
              <a href="#">
                <p class="m-0 pe-3">Process</p>
              </a>
              <a class="ps-3 me-4">
                <p class="m-0">Store Reorder Quantity</p>
              </a>
            </div>
            <div class=""  style="display: inline-block;  float: right;">
                  <button type="button" (click)="backButtonClick()" class=" btn btn-sm btn-success btn-icon-text" style="height:30px">
                    <i class="mdi mdi-arrow-left"></i> Back</button>
                </div>
          </div>
        </div>

        <div class="col-lg-12 grid-margin stretch-card mt-3">
          <div class="card">
            <div class="card-body">

              <div class="mb-3">
                <h3 class="d-inline-block"> Reorder  </h3>
                <!-- <button type="button" class="float-end btn btn-sm btn-primary mt-2 mt-sm-0 btn-icon-text">
                  <i class="mdi mdi-plus-circle"></i> Add Product </button> -->
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <h6> Reorder Frequency: <b>  Daily</b></h6>
                     
                    </div>

                    <div class="col-md-6">
                      <h6> Reorder Store Level: <b> Store Level</b></h6>
                      
                    </div>

                  </div>
                  
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="product-filters">
                
                <div class="card">
                  <div class="card-body">
                
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Date</label>
                          <input type="text" class="form-control form-control-sm" value="21-08-2022" aria-label="Username" />
                        </div>
                      </div>

                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Store Name</label>
                          <input type="text" class="form-control form-control-sm" placeholder="Store Name" aria-label="Username" />
                        </div>
                      </div> 

                  <div class="col-md-3">
                  <div class="form-group">
                      <label for="exampleFormControlSelect2">Product Categories</label>
                      <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                        <option> Select All</option>
                        <option>Categories2</option>
                        <option>Categories3</option>
                        <option>Categories4</option>
                        <option>Categories5</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Sub Categories</label>
                        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                          <option>Select All</option>
                          <option>Sub Categories2</option>
                          <option>Sub Categories3</option>
                          <option>Sub Categories4</option>
                          <option>Sub Categories5</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label for="exampleFormControlSelect2">ABC Class</label>
                          <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                            <option> All</option>
                            <option> A & B </option>
                            <option>A & C </option>
                            <option>B & C</option>
                            <option>A</option>
                            <option>B</option>
                            <option>C</option>
                          </select>
                        </div>
                      </div>

                  <!-- <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Product Type</label>
                      <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                        <option>Select All</option>
                        <option>Product Type1 </option>
                        <option>Product Type2</option>
                        <option>Product Type3</option>

                      </select>
                    </div>
                  </div> -->

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Product Name</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Select All" aria-label="Username" />
                    </div>
                  </div>


                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleFormControlSelect3"> SKU Code</label>
                      <input type="text" class="form-control form-control-sm" placeholder= "SKU Code" aria-label="Username" />
                    </div>
                  </div>

                  <!-- <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Country </label>
                      <input type="text" class="form-control form-control-sm" placeholder="Product Name" aria-label="Username" />
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">State </label>
                      <input type="text" class="form-control form-control-sm" placeholder="Product Name" aria-label="Username" />
                    </div>
                  </div>
                  
                <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">City </label>
                  <input type="text" class="form-control form-control-sm" placeholder="Product Name" aria-label="Username" />
                </div>
              </div> -->
                  <div class="col-md-3">
                  <label> &nbsp; </label><br>
                  <button type="button" class=" btn btn-sm btn-success mt-2 mt-sm-0 btn-icon-text">
                    <i class="mdi mdi-checkbox-marked-circle-outline"></i> Filter </button>
                  </div>

                  </div>

                  </div>
                </div>

              </div>

              <div class="filter-table-data mt-3">
              <div class="table-responsive ">
                <table class="table table-bordered table-striped text-sm">
                  <thead>
                    <tr>
                      <th> Product Name</th>
                      <th> SKU <br>Code</th> 
                      <th> Re-Ordered <br>Qty</th>
                      <th> Overrider <br>Re-order <br>Qty</th>
                      <th> Expected <br>Delivery Data </th>
                      <th> Supplier Name <br>Qty</th>
                      <th> Actions</th>
                    </tr>
                    </thead>
                    <tbody>
          
                      <tr>
                      <td> Sony 43inch LED 4K </td>
                      <td> SN12345</td>
                      <td> 50 </td>
                      <td width="100"> <input type="text" class="form-control form-control-sm"  placeholder="Qty" /> </td>
                      <td> 24-06-2022 </td>
                      <td> David Lee</td>
                      <td> <span class="btn btn-sm btn-primary d-inline-block"> Edit </span> &nbsp; </td>
                    </tr>
          
                    <tr>
                      <td> Dell Mouse </td>
                      <td> SN45565</td>
                      <td> 100 </td>
                      <td width="100"> <input type="text" class="form-control form-control-sm"  placeholder="Qty" /> </td>
                      <td> 25-06-2022 </td>
                      <td> David Lee</td>
                      <td> <span class="btn btn-sm btn-primary d-inline-block"> Edit </span> &nbsp; </td>
                    </tr>
          
                    <tr>
                      <td> HP Laptops 8550 11zen 8gb ram 512SSD HD </td>
                      <td> SN45675</td>
                      <td> 10 </td>
                      <td width="100"> <input type="text" class="form-control form-control-sm"  placeholder="Qty" /> </td>
                      <td> 28-06-2022 </td>
                      <td> David Lee</td>
                      <td> <span class="btn btn-sm btn-primary d-inline-block"> Edit </span> &nbsp; </td>
                    </tr>

                    </tbody>
                    </table>
              </div>
            </div>
            </div>
          </div>
        </div>
