

   <!-- partial -->
   <div class="container-fluid page-body-wrapper">
    <div class="main-panel container">
      <div class="content-wrapper pb-0">
        
        <!-- first row starts here -->
       
        
        <div class="row">
          <div class="header-right mt-md-2 mt-lg-0 w-100">
            <div class=" align-items-center d-inline-block">
              <a href="transaction">
                <p class="m-0 pe-3">Transaction Data</p>
              </a>
              <a class="ps-3 me-4">
                <p class="m-0">Stock Register</p>
              </a>
            </div>
            <div class=""  style="display: inline-block;  float: right;">
              <button type="button" (click)="backButtonClick()" class=" btn btn-sm btn-success btn-icon-text" style="height:30px">
                <i class="mdi mdi-arrow-left"></i> Back</button>
            </div>
          </div>
        </div>


        <div class="col-lg-12 grid-margin stretch-card mt-3">
          <div class="card">
            <div class="card-body">

              <div class="mb-3">
                <h3 class="d-inline-block"> Stock Register </h3>
                <!-- <button type="button" class="float-end btn btn-sm btn-primary mt-2 mt-sm-0 btn-icon-text">
                  <i class="mdi mdi-plus-circle"></i> Add Product </button> -->
              </div>
              <div class="clearfix"></div>
              <div class="product-filters">
                
                <div class="card">
                  <div class="card-body">
                
                    <iframe title="POS Sales Register Report" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=930d6148-b196-4c79-8e2f-b87898483caa&autoAuth=true&ctid=9f2e2b7d-6081-4b3a-b7f5-433b581f6a5f&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>

                  </div>
                </div>

              </div>

              
            </div>
          </div>
        </div>
        
        

      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022, All rights reserved.</span>

          </div>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>